.countEditor {
    height: 500px;
    padding: 10px 2px;

    .title {
        font-weight: bold;
        font-size: 15px;
        color: #0070d2;
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid #0070d2;
    }

    .actionBlock {
        padding-top: 8px;
        margin-top: 15px;
        border-top: 1px solid #0070d2;
    }
}
