.editorContainer {
    background: #e5f2ff;
    margin: 0 -2px;
    padding: 5px 2px;

    h5 {
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 4px;
        border-bottom: 1px solid #032d60;
    }
}
