.rich-text-component {
    overflow: hidden;

    ul, ol {
        padding: 16px;
    }

    ul {
        list-style: disc;
    }

    h1, h2, h3, h4, h5, h6,
    p {
        margin-bottom: 0;
    }

    img {
        max-width: 100%;
    }
}